@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  background-color: lavenderblush;
}

.skill-container center {
  font-weight: bold;
  font-size: 60px;
  color: #602a03;
  font-family: "Playfair Display", serif;
}

li {
  list-style: none;
  font-size: 30px;
  padding: 37px;
  margin-left: 19cm;
  font-family: "Rubik", sans-serif;
}

.skill-item center {
  font-size: 33px;
  font-weight: normal;
  color: #9b0d0d;
}

.checked {
  color: orange;
}
