@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  background-color: #e5e1e1;
}

h2 {
  font-size: 25px;
  font-family: "Bree Serif", serif;
}

.work-info {
  padding: 10px;
}

p {
  font-family: "Chakra Petch", sans-serif;
}

img {
  margin-left: 15cm;
}
